<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />  
	@RenderSection("JAVASCRIPTANDCSS", required: false)
</head>
<body id="@ViewBag.BodyId">
    <div id="container">
		@*加载头部*@	
		@Html.Partial("_header")
        <div class="content">
			@RenderBody()
        </div>
		@*加载头部*@				
		@Html.Partial("_footer")
    </div>
</body>
</html>
