@model IEnumerable<VideoSite.EF.Model.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JAVASCRIPTANDCSS{
<link  type="text/css" rel="stylesheet" href="@Url.Content("~/Content/website-themes/table.css")" />
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery/1.9.1.min.js")" ></script>
<script type="text/javascript">
	$(function(){
		$("#dataTable tr:odd").addClass("trOdd01");
	});
</script>
}


<div>
<p class="tc bc f20" >
    @Html.ActionLink("Create New", "Create")
</p>
<table id="dataTable">
    <tr>
        <th>Operation</th>
        <th>
            Username
        </th>
        <th>
            Password
        </th>
        <th>
            UserInfoId
        </th>
        <th>
            Extra
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
        </td>
        <td>
            @item.Username
        </td>
        <td>
            @item.Password
        </td>
        <td>
            @item.UserInfoId
        </td>
        <td>
            @item.Extra
        </td>
    </tr>
}

</table>

</div>
