@model IEnumerable<VideoSite.EF.Model.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Username
        </th>
        <th>
            Password
        </th>
        <th>
            UserInfoId
        </th>
        <th>
            Extra
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
        </td>
        <td>
            @item.Username
        </td>
        <td>
            @item.Password
        </td>
        <td>
            @item.UserInfoId
        </td>
        <td>
            @item.Extra
        </td>
    </tr>
}

</table>

