@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7,IE=9">
<title>后台登录</title>

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery/1.9.1.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/easyui/jquery.easyui.min.js")"></script>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/website-themes/base.css")"  />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/easyui-themes/cupertino/easyui.css")" />  
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/easyui-themes/icon.css")" />  
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/website-themes/login.css")"  />
<!--[IF LTE IE 9]>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/website-themes/IE.css")"  />
<![ENDIF--> 

</head>
<body>
<div id="login_container" >
	<div class="login_panel">
		<div class="company_info ">
			
		</div>
		<div class="login_info ">
			<form id="login_form" method="get">
				<div class="form_item">
					<label for="username">UserName:</label>  
					<input class="easyui-validatebox" id="username" tabindex="1" class="baseinput" name="username" type="text" autocomplete="on">
				</div>
				<div class="form_item">
					<label for="password">PassWord:</label>  
					<input class="easyui-validatebox" id="password" class="baseinput" name="password" type="password" tabindex="2">
				</div>
				<div style="text-align: left;margin: 5px;">
				<input  type="submit"  class="loginImg" id="login" tabindex="3" value=" ">
				</div>
			</form>
		</div>
	</div>
</div>
<div id="footer"  class="w tc fixedBottom fWhite">
	Copyright © 2013 - 2013 XXX.All Rights Reserved.
XX公司 版权所有 X网文[20XX]XXXX-XXX号
</div>
</body>
</html>
