@model IEnumerable<VideoSite.EF.Model.User>

@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page">
<h2>总共数: @Model.Count()</h2>
<ul class="users-list" >
	<hr/>
	 @foreach(var user in Model){
		<li>@user.UserId</li>
		<li>@user.Username</li>
		<li>@user.Password</li>
		<li>@user.Extra</li>
		<hr/>
	}
</ul>
</div>


